@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Kablammo&family=Righteous&display=swap');
body{
    background-color: #e4e4e4;
    font-family: "Righteous", sans-serif;
}
.contactUsUpper{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: black;
    color: white;
}
.contactForm{
    display: flex;
    position: relative;
    left: 56vw;
    top: -15vh;
    height: 80vh;
    width: 30vw;
    padding: 3.5vw;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    font-family: "Righteous", sans-serif;
    background-color: white;
    color: #737373;
    font-size: 2.5vh;
}

.contactForm h1{
    font-family: "Righteous", sans-serif;
    color: black;
}

.contactForm label[for = "name"], .contactForm label[for = "email"], .contactForm label[for = "message"]{
    position: relative;
    left: 1.5vw;
}

.contactForm input, .contactForm textarea{
    width: 86%;
    height: 5vh;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 7px 10px 0 #c4c4c4;
    border: 0px solid transparent;
    background-color: #eee;
}

.contactForm input[type="checkbox"]{
    width: 5%;
    height: 3vh;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0px 0px 0 #c4c4c4;
    background-color: #eee;
}

.contactForm input[type="checkbox"]:checked{
    accent-color: #65558f;
}

.contactForm label[for="notice"]{
    font-size: 1.5vh;
}

.contactForm button{
    background-color: black;
    color: white;
    width: 85%; /* Increased width */
    height: 6vh; /* Increased height */
    margin: 20px auto; /* Increased margin to lower the button */
    padding: 12px; /* Increased padding */
    border-radius: 1.5vw;
    border: 1px solid black;
    font-size: 2.2vh; /* Increased font size */
    cursor: pointer;
    display: block;
}