RewriteEngine On

# In case of 500 or 404 do this
# (change the first dashboard to be the url)
# second dashboard is the file

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L,QSA]
RewriteRule ^([^/.]+)$ $1.php [L,QSA]

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L,QSA]
# RewriteRule ^([^/.]+)$ $1.html [L,QSA]

# Deny access to the database connections folder
RewriteRule ^db/ - [F,L]

# Deny access to db.php and .htaccess
<Files "db.php">
    Order Allow,Deny
    Deny from all
</Files>

<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>

# Deny access to the components folder
RewriteRule ^components/ - [F,L]

# Disable directory browsing
Options All -Indexes

# temp
