RewriteEngine On

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L,QSA]
# RewriteRule ^([^/.]+)$ $1.php [L,QSA]

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L,QSA]
# RewriteRule ^([^/.]+)$ $1.html [L,QSA]

# Deny access to the database connections folder
RewriteRule ^db/ - [F,L]
<Files .htaccess>
    order allow,deny
    deny from all
</Files>
RewriteRule ^components/ - [F,L]

# disable directory browsing
Options All -Indexes

# temp
