{
  "printWidth": 100,
  "tabWidth": 3,
  "useTabs": true,
  "singleQuote": false,
  "phpVersion": "8.2",
  "trailingCommaPHP": true,
  "braceStyle": "1tbs",
  "plugins": ["@prettier/plugin-php"],
  "semi": true
}